# This is the final, correct version for your remote Git config-repo.
server:
  port: 8089

spring:
  application:
    name: spring-security

  # This service still needs a datasource for the OAuth2AuthorizationService,
  # which stores refresh tokens and user consents in the database.
  datasource:
    url: jdbc:mysql://mysql-db:3306/auth_db?createDatabaseIfNotExist=true
    username: root
    password: Kr12@984872
    driver-class-name: com.mysql.cj.jdbc.Driver

  # JPA is still needed for the default JdbcOAuth2AuthorizationService.
  # Setting ddl-auto to 'update' allows Spring to automatically create
  # the necessary tables (like oauth2_authorization) for us.
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  # This is still needed for the Feign client that calls the user-service.
  security:
    oauth2:
      client:
        registration:
          auth-service-client:
            provider: spring-security-provider
            client-id: service-client
            client-secret: service-secret
            authorization-grant-type: client_credentials
            scope: internal.read
        provider:
          spring-security-provider:
            token-uri: http://spring-security:8089/oauth2/token
