# This file MUST be in your remote Git config-repo.
server:
  port: 8089

spring:
  main:
    allow-bean-definition-overriding: true
  application:
    name: spring-security
  datasource:
    url: jdbc:mysql://mysql-db:3306/auth_db?createDatabaseIfNotExist=true
    username: root
    password: Kr12@984872
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
  sql:
    init:
      mode: always
      schema-locations: classpath:sql/schema.sql
      data-locations: classpath:sql/data.sql
  security:
    oauth2:
      client:
        registration:
          auth-service-client:
            provider: spring-security-provider
            client-id: service-client
            client-secret: service-secret
            authorization-grant-type: client_credentials
            scope: internal.read
        provider:
          spring-security-provider:
            token-uri: http://spring-security:8089/oauth2/token
