server:
  port: 8089

spring:
  application:
    name: spring-security
  # Database configuration for the Auth-Service to store users, roles, etc.
  datasource:
    url: jdbc:mysql://mysql-db:3306/auth_db?createDatabaseIfNotExist=true
    username: root
    password: Kr12@984872
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
