service_dbserver:
  port: 8088

spring:
  application:
    name: spring-security

  datasource:
    url: jdbc:mysql://localhost:3306/user_db
    username: root
    password: Kr12@984872
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

jwt:
  secret: mysecretkey123456
  expirationMs: 86400000 # 1 day
