server:
  port: 8089

spring:
  application:
    name: spring-security
  # Database configuration for the Auth-Service to store users, roles, etc.
  datasource:
    url: jdbc:mysql://mysql-db:3306/auth_db?createDatabaseIfNotExist=true
    username: root
    password: Kr12@984872
    driver-class-name: com.mysql.cj.jdbc.Driver # Explicitly defining the driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect # Recommended for MySQL 8
