
server:
  port: 8088

spring:
  application:
    name: spring-security

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

jwt:
  secret: "your-single-strong-secret-key-that-is-at-least-256-bits-long" # REPLACE THIS WITH A REAL, STRONG, UNIQUE KEY
  expirationMs: 86400000 # 1 day in milliseconds (86400000 = 24 * 60 * 60 * 1000)
  
  
  
