server:
  port: 8092

spring:
  application:
    name: spring-security

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

jwt:
  secret: 41Dk432F44F4528482B4D6251655468576D5A7134743777217A25432A462D4A6
  expirationMs: 86400000
